@import url("main.css");

.wrapper {
    display: flex;
    align-items: center;
    margin-top: 6rem;
    flex-direction: column;
}

.todo-input {
    border: 1px solid var(--primary-color);
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    background-color: var(--background-color);
    color: var(--primary-color);
    margin-top: 20px;
    padding: 10px 50px;
}

.todo-submit-btn {
    border: 1px solid var(--primary-color);
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 4rem;
    background-color: var(--background-color);
    color: var(--primary-color);
    margin-top: 20px;
    padding: 10px 25px;
    cursor: pointer;
}